@model IEnumerable<TP1_KarineDunberry.Models.Evaluation>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Évaluations";
}

<div class="row bgBlanc margin-sm">
    <div class="col-12 colonne-padding">
        <h1 class="txtJaune text-center">Évaluations</h1>
        <p class="container-btn-promo">
            @if ((await AuthorizationService.AuthorizeAsync(User, "AdministrateurSeulement")).Succeeded)
            {
            }
            else
            {
                <a asp-action="Create" class="btn-jaune-border btn-form text-decoration-none">Nouvelle évaluation</a>
            }
        </p>
        <table class="table">
            <thead class="txtVert container">
                <tr>
                    <th class="invisibleTableItem" style="display:none;">
                        @Html.DisplayNameFor(model => model.Prénom)
                    </th>
                    <th style="width: 5%;">
                        @Html.DisplayNameFor(model => model.Nom)
                    </th>
                    <th class="invisibleTableItem" style="display:none;">
                        @Html.DisplayNameFor(model => model.TypeReservation)
                    </th>
                    <th class="invisibleTableItem" style="display:none;">
                        @Html.DisplayNameFor(model => model.Courriel)
                    </th>
                    <th class="invisibleTableItem" style="width: 15%;">
                        @Html.DisplayNameFor(model => model.DateVisite)
                    </th>
                    <th style="width: 15%;">
                        @Html.DisplayNameFor(model => model.QualitéRepas)
                    </th>
                    <th style="width: 15%;">
                        @Html.DisplayNameFor(model => model.QualitéService)
                    </th>
                    <th class="invisibleTableItem" style="width: 10%;">
                        @Html.DisplayNameFor(model => model.Commentaires)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="invisibleTableItem" style="display:none;">
                            @Html.DisplayFor(modelItem => item.Prénom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nom)
                        </td>
                        <td style="display:none;">
                            @Html.DisplayFor(modelItem => item.TypeReservation)
                        </td>
                        <td class="invisibleTableItem" style="display:none;">
                            @Html.DisplayFor(modelItem => item.Courriel)
                        </td>
                        <td class="invisibleTableItem">
                            @Html.DisplayFor(modelItem => item.DateVisite)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QualitéRepas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QualitéService)
                        </td>
                        <td class="invisibleTableItem">
                            @Html.DisplayFor(modelItem => item.Commentaires)
                        </td>
                        <td>
                            @if ((await AuthorizationService.AuthorizeAsync(User, "AdministrateurSeulement")).Succeeded)
                            {
                            }
                            else
                            {
                                <a asp-action="Edit" asp-route-id="@item.EvaluationID" class = "txtJaune link-table">Modifier</a> <span>|</span>
                            }
                            <a asp-action="Details" asp-route-id="@item.EvaluationID" class = "txtJaune link-table">Voir</a> |
                            <a asp-action="Delete" asp-route-id="@item.EvaluationID" class = "txtJaune link-table">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if ((await AuthorizationService.AuthorizeAsync(User, "AdministrateurSeulement")).Succeeded)
        {
            <a asp-action="IndexAdministrateurFiltreRepas" class="txtJaune link-table">Filtrer par notes pour le repas</a><br />
            <a asp-action="IndexAdministrateurFiltreService" class="txtJaune link-table">Filtrer par notes pour le service</a>
        }
    </div>
</div>
